<% @feedback_state.feedbacks.each do |feedback| %>
  <div>
    <p><%= feedback.description %></p>
    <ul>
      <% feedback.tickets.each do |ticket| %>
        <li><%= link_to ticket.title %></li>
      <% end %>
    </ul>
    <ul>
      <% feedback.customers.each do |customer| %>
        <li><%= link_to customer.name %></li>
      <% end %>
    </ul>
    <ul>
      <% feedback.customer_interests.each do |interests| %>
        <li> <%= interests.importance %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
