---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1234567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - pivotal-tracker-token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c2383b9812d0e887f15155c873971f1"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Tracker-Project-Version:
      - '24'
      X-Vcap-Request-Id:
      - 46959f1d-307a-40d9-77bc-c82a536da262
    body:
      encoding: ASCII-8BIT
      string: '{"id":1234567,"kind":"project","name":"Sample Project","version":24,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":false,"atom_enabled":false,"project_type":"private","start_time":"2017-01-30T08:00:00Z","created_at":"2017-02-02T22:13:59Z","updated_at":"2017-02-02T23:01:21Z","account_id":963977,"current_iteration_number":1,"enable_following":true}'
  recorded_at: Fri, 03 Feb 2017 00:57:28 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1234567/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - pivotal-tracker-token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f2a08978c26a7c75b23385c0f1b689d8"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Returned:
      - '8'
      X-Tracker-Pagination-Total:
      - '8'
      X-Tracker-Project-Version:
      - '24'
      X-Vcap-Request-Id:
      - c9884095-75f4-4570-4bf3-c1e23d460f6d
    body:
      encoding: ASCII-8BIT
      string: '[{"kind":"story","id":138964449,"created_at":"2017-02-02T22:15:07Z","updated_at":"2017-02-03T00:56:46Z","accepted_at":"2017-02-02T22:15:15Z","estimate":2,"story_type":"feature","name":"Completed
        Feature","description":"A useful feature","current_state":"accepted","requested_by_id":2548201,"url":"https://www.pivotaltracker.com/story/show/138964449","project_id":1234567,"owner_ids":[2548201],"labels":[],"owned_by_id":2548201},{"kind":"story","id":138964503,"created_at":"2017-02-02T22:15:44Z","updated_at":"2017-02-02T22:15:51Z","estimate":1,"story_type":"feature","name":"Finished
        Feature","current_state":"finished","requested_by_id":2548201,"url":"https://www.pivotaltracker.com/story/show/138964503","project_id":1234567,"owner_ids":[2548201],"labels":[],"owned_by_id":2548201},{"kind":"story","id":138964413,"created_at":"2017-02-02T22:14:36Z","updated_at":"2017-02-02T22:14:55Z","story_type":"chore","na[...]
