<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackTracker</title>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
  </body>
</html>
